
body {
    background: whitesmoke;
}

label {
	display: block;
	margin: 5px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 5px;
	border-bottom: 1px solid #aaa;
}

.header {
	background-color: rgb(189, 12, 6);
}

/* Search form */
.search-form {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	margin-left: 50%; 
}
  
input[type="search"] {
	box-sizing: border-box;
	background: white;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0.35em 0.75em;
	border: none;
	font-size: 20px;
	text-decoration: none;
	line-height: normal;
	max-height: 3em; 
}
  
button[type="submit"] {
	box-sizing: border-box;
	border-radius: 0px 2px 2px 0px;
	background: rgb(230, 21, 14);
	font-weight: 300;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.7);
	padding: 0.35em 0.75em;
	border: none;
	font-size: 20px;
	text-decoration: none;
	cursor: pointer; 
}
  
button[type="submit"]:hover {
	background: rgb(133, 11, 6);
	color: white; 
}
  
input[type="search"] {
	flex: 2 100px; 
}
  
button[type="submit"] {
	flex: 1 30px; 
}
/* Search form */

/* Navigation bar */
.navbar {
	font-size: 20px;
	background: rgb(209, 69, 64);
	/* border: 1px solid rgba(20, 119, 199, 0.521); */
	display: flex;
	justify-content: space-between;
	height: 60px;
	align-items: center;
	padding-bottom: 0; 
}
  
.main-nav {
	display: flex;
	margin-right: 30px;
	flex-direction: row;
	justify-content: flex-end;
	list-style-type: none; 
	width: 50%;
}
  
.main-nav li {
	margin: 0; 
}
  
.nav-links {
	margin-left: 30px;
	text-decoration: none;
	color: rgba(5, 2, 2, 0.7);
	position: relative;
}
  
.logo {
	display: inline-block;
	margin-left: 30px; 
}
  
.navbar-toggle {
	display: none; 
}
  
.logo:hover,
.nav-links:hover {
	color: white; 
	text-decoration: none;
}
  
li:focus-within a {
	outline: none; 
}
  
/* sub - menu */
ul li ul {
	display: none;
	flex-direction: column;
	list-style-type: none;
	position: absolute;
	background-color: rgb(209, 69, 64);
	min-width: 150px;
	z-index: 1;
}
  
.dropdown a {
	color: rgba(255, 255, 255, 0.7);
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	text-decoration: none;
	display: flex; 
}
  
ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
	display: flex;
	flex-direction: column; 
}
  
ul li ul li {
	clear: both;
	width: 100%; 
}
/* sub - menu */

h1.company_name{
	/* color: rgb(232, 248, 140); */
	/* margin: 5px;
	height: 3em; */
	text-align: left;
	padding: 1em 0 0 1em ;
	background-color:  rgb(189, 12, 6);
}

.container {
	min-height: 300px;
    /* background: rgb(134, 121, 121); */
    background: linear-gradient(to bottom, #33ccff 0%, #cc3300 100%);
}
 
.products{
	display: flex;
	width: 200px;
	margin: 7px;
	border: 2px solid black;
	border-radius: 10px;
}

#product-grid {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}
.product-title{
	margin: 5px;
	font-weight: bolder;
}

.product-price{
	margin: 10px 5px;
	font-weight: bolder;
}
.product-description{
	margin: 5px;
}

.cart-action{
	margin: 5px;
}

.product-image {
	display: block;
	margin-left: 40px;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 20px;
	border-radius: 8px;
}
#payment-form {
	display: none;
	width: 50%;
	min-width: 500px;
}

.btn-success{
	font-size: 1.25em;
}

#new_ticket {
	display: none;
	min-width: 500px;
}

a {
	margin: 5px;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}
#promotion {
	display: block;
	margin-top: -20px;
	margin-bottom: 5px;
}

.product-description{
	border-top-style: dotted;
  	border-bottom-style: dotted;
	border-width: 1px;
}
.btnAddAction{
	display: flex;
	background: greenyellow;
	position: relative;
	min-height: 30px;
	border-radius: 5px;
}
.product-quantity{
	border-radius: 5px;
	text-align: center;
}

footer {
	color: black;
	margin: 5px;
	margin-bottom: 1%;
	text-align: left;
	-height: 3em;
	padding: 1em 0 0 1em ;
	background-color: rgb(189, 12, 6);
}


/* product  */

.product span {
	font-weight: bold;
}
  
.product-image img {
	display: block;
	max-width: 228px;
	width: 100%;
	margin: 0 auto;
}
.row .product:last-child {
	margin-right: 0;
}

.product-add-to-cart {
	overflow: hidden;
	clear: both;
	margin-top: 10px;
}

.add-to-cart {
	float: right;
}

/* Mark shopping cart  */

.cart-red{
	position:fixed;
	right: 40px; 
	top: 30px;
}

.fa-circle {
  color:#DF0000;
  left:-11px;
}

.fa-shopping-cart{
	color:red;
	cursor: pointer;
}

#itemCount {
	position: absolute;
	display: block;
	font-weight: bold;
	top: -13px;
	left: 20px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: red;
	color: white;
	text-align: center;
}
/* END mark shopping cart  */

/* .ticket{
	height:39px;
	min-width: 100px;
	background: rgb(232, 248, 140);
	margin-bottom: 20px;
}
.submit_ticket{
	padding: 5px;
  	border-radius: 5px;
} */

.search{
	margin:auto;
	max-width:400px;
	position: relative;
	left:25%;
}

form.example input[type=text] {
	padding: 10px;
	font-size: 15px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
}

form.example button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #2196F3;
	color: white;
	font-size: 15px;
	border: 1px solid black;
	border-left: none;
	cursor: pointer;
}

form.example button:hover {
	background: #0b7dda;
}

form.example::after {
	content: "";
	clear: both;
	display: table;
}

/* shopping cart */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: black;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.content-section {
    margin: 1em;
}

.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
	font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    border: none;
	margin-right: 1px;
	font-weight: bold;
	float: right;
	border-radius: 5px 10px 10px 5px;
}

.shop-item-details .btn-primary {
	border-radius: 5px 10px 10px 5px;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.shop-item {
	display: block;
	margin: 10px;
	background: whitesmoke;
	width: 260px;
	border: outset;
	border-radius: 15px;
}

.shop-item-title {
    display: block;
	height: 70px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
}

.shop-item-image {
	display:block;
	margin:auto;
}

.shop-item-description {
    display: flex;
    align-items: center;
	/* padding: 5px; */
}

.shop-item-price {
    /* flex-grow: 1; */
	color: black;
	font-weight: bolder;
	font-size: 20px;
	margin: 0 15px;
	float: left;
}

.shop-item-details {
	background: gold;
	height:38px;
	align-items: flex-end;
	margin-bottom: 2px;
	border-radius: 10px;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: black;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: black;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 10px auto 10px auto;
    font-size: 1.25em;
}

#shopping_cart{
	display: none;
}

.num_pages{
	display: block;
	background: salmon;
	margin:0 5px;
	text-align: center;
	font-size: 20px;
	font-weight:900;
}

/* Stripe */
.StripeElement {
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}
.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}
.StripeElement--invalid {
    border-color: #fa755a;
}
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#card-element {
    width: 100%;
}

@media screen and (max-width: 375px) {
	/* .header h1 {
	  font-size: 30px; 
	} */
  
	.navbar-toggle {
		font-size: 30px;
		margin-top: -40px;
	}
  
	.active {
		margin-top: -20px; 
	} 
}
@media screen and (max-width: 500px) {
	.header {
		padding-top: 0; 
	}
  
	/* .product .product-item {
		width: 100%; 
	}
  
	.image_product {
	  width: 60%; }
   */
	.search-form {
		width: 100%; 
	} 
}

@media screen and (max-width: 768px) {
	body {
		padding: 0;
		margin: 0; 
	}
  
	/* .header {
		padding-top: 10px; 
	} */
  
	/* .product {
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		margin: 0; 
	}
  
	.product-item {
		width: 100%;
		padding: 0;
		min-height: 250px; 
	} */
  
	.main-nav {
		display: none; 
	}
  
	.main-nav li {
		margin-left: -35px;
		text-align: center;
		padding: 10px;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
	}
  
	.navbar-toggle {
		display: inline-block;
		position: absolute;
		right: 20px;
		cursor: pointer;
		color: rgba(255, 255, 255, 0.7);
		font-size: 50px; 
	}
  
	.active {
		display: block;
		width: 100%;
		position: absolute;
		top: 67px;
		background: rgb(209, 69, 64);
		transition: 0.5s; 
	}
  
	ul li ul {
		width: 80%;
		margin-top: 10px;
		margin-left: -15px;
		border-right-style: ridge; 
	}
  
	.dropdown a {
		padding: 0;
	}
	
	.search-form {
		width: 70%;
		margin-left: 30%; 
	} 
}