Options +FollowSymLinks
RewriteEngine On

RewriteRule ^home?$ index.php
RewriteRule ^about?$ about.php
RewriteRule ^contact?$ contact_page.php
RewriteRule ^confirm?$ confirm_order.php
RewriteRule ^blog?$ blog.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

RewriteRule product_detail/id/(.*)/ product_detail.php?id=$1
RewriteRule product_detail/id/(.*) product_detail.php?id=$1	
